.column {
  float: left;
  width: 200px;
  padding: 5px;
  margin: 5px;
  border: solid;
  background-color: rgb(254, 235, 200);
  font-family: Helvetica;
  height: 350px;
  text-align: center;
}
body {
  background-color: rgb(255, 219, 152);
}
h1 {
  font-family: Helvetica;
  text-align: center;
}
img {
  border-style: dotted;
}

