.column {
  float: left;
  width: 200px;
  padding: 5px;
  margin: 5px;
  border: solid;
  background-color: rgba(232, 247, 253, 0.752);
  font-family: Helvetica;
  height: 350px;
  text-align: center;
}
body {
  background-color: rgb(178, 224, 242);
}
h1 {
  font-family: Helvetica;
  text-align: center;
}
img {
  border-style: dotted;
}

